<a href="https://colab.research.google.com/github/axefx/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/Axel_Corro_LS_DS13_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
df.shape

(1460, 81)

In [15]:
pd.set_option('display.max_rows', 100)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [16]:
df['BedroomAbvGr'].head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [0]:
pd.set_option('display.max_rows', 150)
df['LotFrontage'].value_counts(dropna=False)

In [18]:
type(np.NaN)

float

In [19]:
df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [20]:
df_small['TotalSF'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF']
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [21]:
df_small['PricePerSqFt'] = df_small['SalePrice'] / df_small['TotalSF']
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFt
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

In [22]:
# Loan Dataset
!head /content/LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","35000","35000","35000"," 36 months"," 14.47%","1204.23","C","C2","Staff Physician","8 years","MORTGAGE","360000","Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","336xx","FL","19.9","0","Apr-1995","1","","","24","0","57259","43.2%","51","w","0.00","0.00","38187.0468373662","38187.05","35000.00","3187.05","0.0","0.0","0.0","Aug-2019","29882.16","","Sep-2019","0","","1","Individual","","","","0","0","828060","0","6","1","2","9","112027","29","4","8","19118","36","132400","3","2","5","11","34503","67341","46","0","0","173","284","8","8","3","8","","0","","0","11","11","13","20","23","16","24","11","24","0","0","0","5","100","30.8","0","0","1222051","169286","124600","258401","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 22.35%","191.86","D","D5","Director of Sales","10+ years","MORTGAGE","72000","Source Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","333xx","FL","20.12","0","Mar-2010","0","","","13","0","11720","47.1%","26","f","0.00","0.00","5615.9776735688","5615.98","5000.00","615.98","0.0","0.0","0.0","Jul-2019","4474.13","","Aug-2019","0","","1","Individual","","","","0","534","189279","0","1","0","1","18","22698","","0","0","4056","47","24900","1","0","1","2","14560","8163","55.1","0","0","105","90","29","8","5","40","","9","","0","6","11","6","8","4","11","17","11","13","0","0","0","1","100","50","0","0","218686","34418","18200","37786","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 23.40%","284.21","E","E1","","< 1 year","RENT","55000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","902xx","CA","13.51","0","Apr-2007","0","44","88","9","1","11859","53.9%","11","w","8694.39","8694.39","3675.23","3675.23","1305.61","2369.62","0.0","0.0","0.0","Jan-2020","284.21","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","21235","0","1","0","1","20","9376","76","0","3","3122","62","22000","1","0","0","4","2359","1119","89.3","0","0","140","140","13","13","0","13","","15","44","0","4","7","4","5","2","8","9","7","9","0","0","0","0","90.9","100","1","0","34386","21235","10500","12386","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","17100","17100","17100"," 36 months"," 18.94%","626.3","D","D2","Receptionist ","10+ years","RENT","38000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","150xx","PA","38.09","0","Mar-1998","1","47","","14","0","15323","53%","21","w","12001.54","12001.54","8114.91","8114.91","5098.46","3016.45","0.0","0.0","0.0","Jan-2020","626.3","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","43351","1","2","1","1","10","28028","67","1","5","7533","53","29170","0","0","2","6","3096","4150","77","0","0","125","230","5","5","2","5","","5","","0","4","12","5","5","5","12","14","9","14","","0","0","2","95","75","0","0","70954","43351","16600","41784","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 10.72%","130.43","B","B2","Extrusion assistant ","10+ years","MORTGAGE","56000","Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","301xx","GA","31.03","0","Sep-2006","0","","","7","0","4518","28.6%","11","w","2700.74","2700.74","1682.5","1682.50","1299.26","383.24","0.0","0.0","0.0","Jan-2020","130.43","Feb-2020","Jan-2020","1","","1","Individual","","","","0","136","192983","0","2","0","2","14","66857","","0","3","1608","29","15800","3","0","0","5","27569","7835","36.3","0","0","147","29","22","14","1","22","","17","","0","3","4","3","3","6","4","4","4","7","0","0","0","0","100","0","0","0","221310","71375","12300","77865","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10475","10475","10475"," 36 months"," 11.31%","344.48","B","B3","Teacher","6 years","RENT","66150","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","786xx","TX","7.4","0","Jun-1991","0","28","","10","0","10499","40.2%","17","w","7093.15","7093.15","4468.37","4468.37","3381.85","1086.52","0.0","0.0","0.0","Jan-2020","344.48","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","10499","1","0","0","0","84","0","","3","5","3841","40","26100","2","1","5","5","1312","14847","36.8","0","0","88","330","3","3","2","7","","1","28","0","5","8","7","8","2","10","13","8","10","0","0","0","3","88.2","60","0","0","26100","10499","23500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","7500","7500","7500"," 36 months"," 11.31%","246.65","B","B3","Supervisor","7 years","MORTGAGE","40500","Verified","Dec-2018","Late (31-120 days)","n","","","debt_consolidation","Debt consolidation","604xx","IL","31.61","0","Sep-1996","1","","","23","0","14218","16.3%","33","w","5653.88","5653.88","2491.74","2491.74","1846.12","630.62","15.0","0.0","0.0","Nov-2019","508.3","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","123779","3","2","1","1","12","8096","29","3","6","2972","19","87000","0","0","2","7","5626","21078","23.9","0","0","59","267","1","1","1","6","","6","","0","4","6","7","10","2","20","30","6","23","0","0","0","4","100","0","0","0","221569","22314","27700","28409","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3600","3600","3600"," 36 months"," 11.80%","119.23","B","B4","Analyst","5 years","MORTGAGE","50000","Source Verified","Dec-2018","Late (16-30 days)","n","","","other","Other","427xx","KY","16.11","0","Jan-2002","2","","","10","0","5865","17.4%","17","w","2634.82","2634.82","1325.69","1325.69","965.18","360.51","0.0","0.0","0.0","Dec-2019","119.23","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","243415","3","3","1","2","3","68184","95","1","3","0","53","33700","2","1","10","6","24342","17300","0","0","0","203","198","4","3","1","18","","3","","1","0","1","4","6","6","6","10","1","10","0","0","0","3","93.8","0","0","0","272629","74049","17300","68929","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [23]:
!tail /content/LoanStats_2018Q4.csv

"","","5000","5000","5000"," 36 months"," 12.98%","168.43","B","B5","Machine operator","< 1 year","RENT","57000","Not Verified","Dec-2018","Current","n","","","major_purchase","Major purchase","601xx","IL","15.05","0","Jun-2008","0","","","7","0","21075","80.1%","13","w","3413.09","3413.09","2185.98","2185.98","1586.91","599.07","0.0","0.0","0.0","Jan-2020","168.43","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","109601","0","1","0","0","32","901","18","0","0","11190","70","26300","0","0","0","0","18267","3725","85","0","0","126","119","27","27","1","27","","23","","0","2","2","4","8","2","5","9","2","7","0","0","0","0","100","66.7","0","0","144420","21976","24800","5000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","Assistant Manager","9 years","RENT","63000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","801xx","CO","16.55","0","May-2012","0","","92","8","1","19863","84.2%","11","f","6892.69","6892.69","4524.58","4524.58","3107.31","1417.27","0.0","0.0","0.0","Jan-2020","346.76","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","28339","0","1","1","1","7","8476","90","0","1","7283","86","23600","0","4","0","2","3542","1412","88.7","0","0","65","79","20","7","0","28","","","","0","3","5","3","3","3","7","8","5","8","0","0","0","1","100","66.7","1","0","33065","28339","12500","9465","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 13.56%","276.49","C","C1","Sales","10+ years","MORTGAGE","56000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","452xx","OH","22.14","0","Nov-2005","0","","99","17","1","11424","25.8%","33","f","10039.14","10039.14","3585.33","3585.33","1960.86","1624.47","0.0","0.0","0.0","Jan-2020","276.49","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","22815","0","3","0","1","18","11391","42","2","7","3396","32","44300","2","13","4","8","1342","10843","48.1","0","0","157","93","9","9","0","10","","2","","0","4","8","4","5","16","14","17","8","17","0","0","0","2","100","0","1","0","71165","22815","20900","26865","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 17.97%","304.53","D","D1","Production Manager","< 1 year","MORTGAGE","97000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","531xx","WI","10.83","0","Aug-2005","1","78","95","9","1","4996","56.8%","32","w","10223.09","10223.09","3976.86","3976.86","1776.91","2199.95","0.0","0.0","0.0","Jan-2020","304.53","Feb-2020","Jan-2020","0","79","1","Individual","","","","0","0","441215","3","4","2","3","2","40297","86","1","2","4996","82","8800","3","0","3","8","49024","2304","68.4","0","0","129","82","10","2","4","10","","2","","1","1","1","2","6","15","3","8","1","9","0","0","0","5","93.8","50","1","0","452399","45293","7300","46630","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 13.56%","339.65","C","C1","Behavioral health clinician","< 1 year","RENT","70000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","077xx","NJ","22.89","0","Sep-2008","0","","","13","0","0","0%","35","w","6846.23","6846.23","4407.92","4407.92","3153.77","1254.15","0.0","0.0","0.0","Jan-2020","339.65","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","175767","0","9","0","1","17","175767","75","0","2","0","62","12200","1","0","0","3","13521","","","0","0","122","108","15","15","0","","","16","","0","0","0","0","4","25","4","10","0","13","0","0","0","0","100","","0","0","177549","175767","0","165349","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5075","5075","5075"," 36 months"," 23.40%","197.52","E","E1","Supervisor ","9 years","MORTGAGE","70000","Not Verified","Dec-2018","Late (31-120 days)","n","","","debt_consolidation","Debt consolidation","394xx","MS","35.9","0","Jul-1994","1","","","12","0","3442","53%","23","w","4115.55","4115.55","1771.08","1771.08","959.45","811.63","0.0","0.0","0.0","Sep-2019","197.52","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","279542","2","6","3","7","2","84886","84","0","0","1217","81","6500","6","0","8","7","25413","2767","48.8","0","0","134","292","27","2","1","27","","2","","0","3","4","3","3","16","4","5","4","12","0","0","0","3","100","0","0","0","301346","88328","5400","94444","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 20.89%","539.84","D","D4","Outside Sales Specialist","3 years","MORTGAGE","33800","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","782xx","TX","22.94","0","May-2002","2","","","14","0","9165","18.8%","21","w","17230.62","17230.62","6994.71","6994.71","2769.38","4225.33","0.0","0.0","0.0","Jan-2020","539.84","Feb-2020","Jan-2020","0","","1","Individual","","","","0","3363","24917","4","3","1","2","5","15752","84","4","10","3900","37","48800","2","1","2","12","1780","25061","20.4","0","0","135","33","2","2","2","3","","2","","0","5","7","7","7","8","11","11","7","14","0","0","0","5","100","14.3","0","0","67508","24917","31500","18708","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15000","15000","15000"," 36 months"," 10.72%","489.1","B","B2","Creative Media Advisor","3 years","OWN","100000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","346xx","FL","8.4","0","Jun-2003","0","","","13","0","29119","34.4%","21","w","10127.98","10127.98","6349.37","6349.37","4872.02","1477.35","0.0","0.0","0.0","Jan-2020","489.1","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","29119","0","0","0","0","108","0","","3","5","7128","34","84600","0","0","2","5","2240","45552","37.2","0","0","125","186","8","8","0","8","","7","","0","8","10","9","13","2","13","19","10","13","0","0","0","3","100","55.6","0","0","84600","29119","72500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months","  7.02%","308.87","A","A2","Chemical Engineer ","< 1 year","RENT","73000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","148xx","NY","7.18","0","Feb-2014","1","","","6","0","6712","43.9%","6","w","6628.46","6628.46","4011.41","4011.41","3371.54","639.87","0.0","0.0","0.0","Jan-2020","308.87","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","10260","2","1","0","0","58","3548","24","2","4","4625","34","15300","0","0","2","4","1710","4495","52.7","0","0","58","27","5","5","0","22","","5","","0","2","4","2","2","1","5","5","4","6","0","0","0","2","100","0","0","0","30078","10260","9500","14778","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months","  8.19%","611.03","A","A4","General Manager","1 year","RENT","150000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","303xx","GA","13.68","0","Dec-1991","0","","","9","0","15003","31.1%","19","w","24496.57","24496.57","7929.74","7929.74","5503.43","2426.31","0.0","0.0","0.0","Jan-2020","611.03","Feb-2020","Jan-2020","0","","1","Individual","","","","0","0","63756","0","2","0","2","14","41582","36","0","0","7112","36","48300","1","0","2","2","7084","27297","35.5","0","0","101","260","25","14","2","25","","3","","0","4","4","4","6","7","6","9","4","9","0","0","0","0","100","0","0","0","117893","63756","42300","56881","","","","","","","","","","","","N","","","","","","","","","","","","","","

In [24]:
# Read in the CSV
df = pd.read_csv('LoanStats_2018Q4.csv',skiprows=1,skipfooter=2)
print(df.shape)
df.isnull().sum().sort_values()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(28420, 144)

inq_fi                                            0
delinq_amnt                                       0
chargeoff_within_12_mths                          0
acc_open_past_24mths                              0
inq_last_12m                                      0
total_cu_tl                                       0
total_rev_hi_lim                                  0
max_bal_bc                                        0
open_rv_24m                                       0
open_rv_12m                                       0
total_bal_il                                      0
open_il_24m                                       0
hardship_flag                                     0
open_act_il                                       0
open_acc_6m                                       0
tot_cur_bal                                       0
tot_coll_amt                                      0
acc_now_delinq                                    0
application_type                                  0
policy_code                                       0
mo_sin_old_rev_tl_op                              0
mo_sin_rcnt_rev_tl_op                             0
mo_sin_rcnt_tl                                    0
mort_acc                                          0
total_il_high_credit_limit                        0
total_bc_limit                                    0
total_bal_ex_mort                                 0
tot_hi_cred_lim                                   0
tax_liens                                         0
pub_rec_bankruptcies                              0
pct_tl_nvr_dlq                                    0
num_tl_op_past_12m                                0
num_tl_90g_dpd_24m                                0
collections_12_mths_ex_med                        0
num_tl_30dpd                                      0
num_rev_tl_bal_gt_0                               0
num_rev_accts                                     0
num_op_rev_tl                                     0
num_il_tl                                         0
num_bc_tl                                         0
num_bc_sats                                       0
num_actv_rev_tl                                   0
num_actv_bc_tl                                    0
num_accts_ever_120_pd                             0
num_sats                                          0
last_pymnt_amnt                                   0
open_il_12m                                       0
debt_settlement_flag                              0
pub_rec                                           0
open_acc                                          0
grade                                             0
sub_grade                                         0
home_ownership                                    0
inq_last_6mths                                    0
annual_inc                                        0
verification_status                               0
earliest_cr_line                                  0
delinq_2yrs                                       0
issue_d                                           0
addr_state                                        0
zip_code                                          0
title                                             0
loan_status                                       0
pymnt_plan                                        0
installment                                       0
revol_bal                                         0
term                                              0
collection_recovery_fee                           0
loan_amnt                                         0
recoveries                                        0
total_rec_late_fee                                0
funded_amnt                                       0
funded_amnt_inv                                   0
total_acc                                         0
total_rec_int                                     0
purpose                                           0
total_rec_prncp                                   0
total_pymnt_inv                                   0
total_pymnt                                       0
out_prncp_inv                                     0
out_prncp                                         0
initial_list_status                               0
int_rate                                          0
last_credit_pull_d                                1
avg_cur_bal                                       2
all_util                                          6
revol_util                                       31
last_pymnt_d                                     34
dti                                              58
mths_since_recent_bc                            355
percent_bc_gt_75                                374
bc_open_to_buy                                  374
bc_util                                         388
num_tl_120dpd_2m                                766
mths_since_rcnt_il                              952
mo_sin_old_il_acct                              952
emp_length                                     2582
mths_since_recent_inq                          3402
il_util                                        4305
emp_title                                      4803
next_pymnt_d                                   5963
mths_since_last_delinq                        16002
mths_since_recent_revol_delinq                20243
mths_since_last_major_derog                   22020
mths_since_recent_bc_dlq                      22807
sec_app_open_acc                              24924
sec_app_mort_acc                              24924
sec_app_inq_last_6mths                        24924
sec_app_earliest_cr_line                      24924
revol_bal_joint                               24924
sec_app_open_act_il                           24924
annual_inc_joint                              24924
dti_joint                                     24924
sec_app_collections_12_mths_ex_med            24924
sec_app_chargeoff_within_12_mths              24924
sec_app_num_rev_accts                         24924
sec_app_revol_util                            24973
mths_since_last_record                        25054
verification_status_joint                     25307
sec_app_mths_since_last_major_derog           27372
debt_settlement_flag_date                     28317
settlement_date                               28317
settlement_amount                             28317
settlement_status                             28317
settlement_term                               28317
settlement_percentage                         28317
hardship_status                               28353
deferral_term                                 28353
hardship_amount                               28353
hardship_start_date                           28353
hardship_end_date                             28353
payment_plan_start_date                       28353
hardship_length                               28353
hardship_dpd                                  28353
hardship_loan_status                          28353
hardship_reason                               28353
hardship_payoff_balance_amount                28353
hardship_last_payment_amount                  28353
hardship_type                                 28353
orig_projected_additional_accrued_interest    28365
url                                           28420
member_id                                     28420
desc                                          28420
id                                            28420
dtype: int64

In [0]:
df = df.drop(['url','member_id','desc','id'], axis=1)

In [26]:
df.head(10)

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      35000        35000  ...                    NaN             NaN
1       5000         5000  ...                    NaN             NaN
2      10000        10000  ...                    NaN             NaN
3      17100        17100  ...                    NaN             NaN
4       4000         4000  ...                    NaN             NaN
5      10475        10475  ...                    NaN             NaN
6       7500         7500  ...                    NaN             NaN
7       3600         3600  ...                    NaN             NaN
8      22000        22000  ...                    NaN             NaN
9      10450        10450  ...                    NaN             NaN

[10 rows x 140 columns]

In [27]:
# int_rate
df['int_rate'].head(10)

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
5     11.31%
6     11.31%
7     11.80%
8     11.80%
9     18.94%
Name: int_rate, dtype: object

In [0]:
# create function - start with single fix
int_rate = '  7.49%'

In [29]:
int_rate.strip()

'7.49%'

In [30]:
int_rate.strip().strip('%')

'7.49'

In [31]:
float(int_rate.strip().strip('%'))

7.49

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [33]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      35000        35000  ...              NaN          14.47
1       5000         5000  ...              NaN          22.35
2      10000        10000  ...              NaN          23.40
3      17100        17100  ...              NaN          18.94
4       4000         4000  ...              NaN          10.72

[5 rows x 141 columns]

In [34]:
# improvements to 'emp_title'
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   4803
Teacher                465
Manager                392
Driver                 199
Registered Nurse       183
Supervisor             164
RN                     144
General Manager        133
Sales                  122
Project Manager        119
Director               102
Owner                   93
Truck Driver            84
Vice President          80
Office Manager          80
Operations Manager      72
Nurse                   71
manager                 68
Mechanic                68
Engineer                66
Name: emp_title, dtype: int64

In [35]:
df['emp_title'].nunique()

12570

In [36]:
df['emp_title'].isnull().sum()

4803

In [0]:
examples = ['owner', 'Supervisor', 'Project Manager', np.NaN]

In [0]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

In [42]:
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [44]:
df['emp_title'] = df['emp_title'].apply(clean_title)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_float
0      35000        35000  ...              NaN          14.47
1       5000         5000  ...              NaN          22.35
2      10000        10000  ...              NaN          23.40
3      17100        17100  ...              NaN          18.94
4       4000         4000  ...              NaN          10.72

[5 rows x 141 columns]

In [45]:
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               4803
Teacher                579
Manager                536
Registered Nurse       288
Supervisor             275
Driver                 273
Truck Driver           221
General Manager        199
Sales                  172
Rn                     170
Project Manager        165
Owner                  146
Office Manager         138
Director               131
Sales Manager          108
Vice President         105
Operations Manager     102
Nurse                   99
Mechanic                99
Technician              93
Name: emp_title, dtype: int64

In [46]:
len(df['emp_title'].value_counts())

10281

In [47]:
df['emp_title'].isnull().sum()

0

In [48]:
# Work with Dates
df['issue_d'].value_counts()

Dec-2018    28420
Name: issue_d, dtype: int64

In [49]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [50]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df.dtypes[:15]

loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv                 int64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                datetime64[ns]
loan_status                    object
dtype: object

In [51]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [52]:
df['issue_d'].dt.year

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
28415    2018
28416    2018
28417    2018
28418    2018
28419    2018
Name: issue_d, Length: 28420, dtype: int64

In [53]:
df['issue_d'].dt.month

0        12
1        12
2        12
3        12
4        12
         ..
28415    12
28416    12
28417    12
28418    12
28419    12
Name: issue_d, Length: 28420, dtype: int64

In [54]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      35000        35000  ...        2018          12
1       5000         5000  ...        2018          12
2      10000        10000  ...        2018          12
3      17100        17100  ...        2018          12
4       4000         4000  ...        2018          12

[5 rows x 143 columns]

In [55]:
# days_from_credit_to_issue feature
## improve earliest_cr_line
df['earliest_cr_line'].head()

0    Apr-1995
1    Mar-2010
2    Apr-2007
3    Mar-1998
4    Sep-2006
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [57]:
(df['issue_d'] - df['earliest_cr_line']).dt.days

0         8645
1         3197
2         4262
3         7580
4         4474
         ...
28415     3590
28416     4597
28417     5601
28418    11688
28419     9284
Length: 28420, dtype: int64

In [0]:
df['days_from_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [59]:
df['days_from_credit_to_issue'].describe()

count    28420.000000
mean      5866.650106
std       2882.622525
min       1126.000000
25%       4079.000000
50%       5266.000000
75%       7243.000000
max      25171.000000
Name: days_from_credit_to_issue, dtype: float64

In [61]:
# Convert the term column from string to integer.
df['term'].head()

0     36 months
1     36 months
2     60 months
3     36 months
4     36 months
Name: term, dtype: object

In [62]:
df['term'].value_counts()

 36 months    19485
 60 months     8935
Name: term, dtype: int64

In [63]:
df['term'].isnull().sum()

0

In [64]:
df['term'][0]

' 36 months'

In [91]:
[char.strip() for char in ' 36 months' if not char.isalpha()]

['', '3', '6', '']

In [0]:
def term_to_int(cell_contents):
  cell_contents = ''.join([char for char in cell_contents if not char.isalpha()])
  return int(cell_contents.strip(' '))

In [125]:
df['term'] = df['term'].astype('int')
df['term'].head()

0    36
1    36
2    60
3    36
4    36
Name: term, dtype: int64

In [134]:
# Make a column named loan_status_is_great. It should contain the integer 1
# if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
df['loan_status'].value_counts()

Current               21547
Fully Paid             4817
Charged Off            1146
Late (31-120 days)      583
In Grace Period         243
Late (16-30 days)        84
Name: loan_status, dtype: int64

In [136]:
df['loan_status'].head()

0    Fully Paid
1    Fully Paid
2       Current
3       Current
4       Current
Name: loan_status, dtype: object

In [138]:
print(df['loan_status'][0])

Fully Paid

In [139]:
print(df['loan_status'][3])

Current

In [0]:
def status_to_int(cell_contents):
  if cell_contents == 'Current' or cell_contents == 'Fully Paid':
    return 1
  else:
    return 0

In [144]:
status_to_int(df['loan_status'][0])

1

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(status_to_int)

In [147]:
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [148]:
df['loan_status_is_great'].value_counts()

1    26364
0     2056
Name: loan_status_is_great, dtype: int64

In [169]:
df.head()

   loan_amnt  funded_amnt  ...  days_from_credit_to_issue  loan_status_is_great
0      35000        35000  ...                       8645                     1
1       5000         5000  ...                       3197                     1
2      10000        10000  ...                       4262                     1
3      17100        17100  ...                       7580                     1
4       4000         4000  ...                       4474                     1

[5 rows x 145 columns]

In [162]:
# Make last_pymnt_d_month and last_pymnt_d_year columns
df.columns.sort_values().values

array(['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'all_util',
       'annual_inc', 'annual_inc_joint', 'application_type',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'days_from_credit_to_issue',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'deferral_term', 'delinq_2yrs', 'delinq_amnt', 'dti', 'dti_joint',
       'earliest_cr_line', 'emp_length', 'emp_title', 'funded_amnt',
       'funded_amnt_inv', 'grade', 'hardship_amount', 'hardship_dpd',
       'hardship_end_date', 'hardship_flag',
       'hardship_last_payment_amount', 'hardship_length',
       'hardship_loan_status', 'hardship_payoff_balance_amount',
       'hardship_reason', 'hardship_start_date', 'hardship_status',
       'hardship_type', 'home_ownership', 'il_util',
       'initial_list_status', 'inq_fi', 'inq_last_12m', 'inq_last_6mths',
       'installment', 'int_rate', 'int_rate_float', 'issue_d',
       'issue_month', 'issue_year', 'last_credit_pull_d',
       'last_pymnt_amnt', 'last_pymnt_d', 'loan_amnt', 'loan_status',
       'loan_status_is_great', 'max_bal_bc', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_last_delinq',
       'mths_since_last_major_derog', 'mths_since_last_record',
       'mths_since_rcnt_il', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'next_pymnt_d',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'open_acc', 'open_acc_6m', 'open_act_il',
       'open_il_12m', 'open_il_24m', 'open_rv_12m', 'open_rv_24m',
       'orig_projected_additional_accrued_interest', 'out_prncp',
       'out_prncp_inv', 'payment_plan_start_date', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'policy_code', 'pub_rec',
       'pub_rec_bankruptcies', 'purpose', 'pymnt_plan', 'recoveries',
       'revol_bal', 'revol_bal_joint', 'revol_util',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med', 'sec_app_earliest_cr_line',
       'sec_app_inq_last_6mths', 'sec_app_mort_acc',
       'sec_app_mths_since_last_major_derog', 'sec_app_num_rev_accts',
       'sec_app_open_acc', 'sec_app_open_act_il', 'sec_app_revol_util',
       'settlement_amount', 'settlement_date', 'settlement_percentage',
       'settlement_status', 'settlement_term', 'sub_grade', 'tax_liens',
       'term', 'title', 'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim',
       'total_acc', 'total_bal_ex_mort', 'total_bal_il', 'total_bc_limit',
       'total_cu_tl', 'total_il_high_credit_limit', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
       'total_rec_prncp', 'total_rev_hi_lim', 'verification_status',
       'verification_status_joint', 'zip_code'], dtype=object)

In [203]:
pd.set_option('display.max_rows',300)
df[:][df['last_pymnt_d'].isnull()]

       loan_amnt  funded_amnt  ...  days_from_credit_to_issue  loan_status_is_great
1588       20975        20975  ...                       7731                     0
2930       14000        14000  ...                       7305                     0
3225       20000        20000  ...                       5601                     0
3289       32000        32000  ...                       3409                     0
3439        9100         9100  ...                       5509                     0
3852       36000        36000  ...                       4079                     0
4430        3525         3525  ...                       1795                     0
4943       11500        11500  ...                       3348                     0
5550        8000         8000  ...                       6058                     0
7360       30000        30000  ...                       6423                     0
7798        9500         9500  ...                       2160                     0
9556        7400         7400  ...                       3682                     0
10311      12000        12000  ...                       2070                     0
10396       6500         6500  ...                       5113                     0
10622       4000         4000  ...                       9923                     0
11502       5000         5000  ...                       4536                     0
12042      30000        30000  ...                       8492                     0
12346      20000        20000  ...                       2129                     0
13996       4000         4000  ...                       4536                     0
16046      29000        29000  ...                       3044                     0
18001      30000        30000  ...                       6362                     0
18333       4100         4100  ...                       4839                     0
19392       1000         1000  ...                       4809                     0
19405      20000        20000  ...                      12175                     0
20507      10000        10000  ...                       7792                     0
20618       3600         3600  ...                       4992                     0
20915       2000         2000  ...                       1826                     0
21477      20000        20000  ...                       3927                     0
22163      10000        10000  ...                       5601                     0
22481      20000        20000  ...                       2405                     0
24808       2200         2200  ...                       3774                     0
25691       6000         6000  ...                       6604                     0
26680       2500         2500  ...                      14367                     0
28015      13000        13000  ...                       5082                     0

[34 rows x 145 columns]

In [205]:
df['last_pymnt_d'].value_counts(dropna=False)

Jan-2020    21793
Dec-2019      804
Sep-2019      652
Jul-2019      641
Oct-2019      610
Aug-2019      582
Nov-2019      538
May-2019      510
Jun-2019      485
Apr-2019      477
Mar-2019      407
Jan-2019      400
Feb-2019      371
Dec-2018      116
NaN            34
Name: last_pymnt_d, dtype: int64

In [166]:
df['last_pymnt_d'].isnull().sum()

34

In [208]:
df['last_pymnt_d'][0]

'Aug-2019'

In [0]:
import math
def clean_pymnt_d(date):
  da

In [256]:
df['last_pymnt_d'].dropna()

0       2019-08-01
1       2019-07-01
2       2020-01-01
3       2020-01-01
4       2020-01-01
           ...
28415   2020-01-01
28416   2020-01-01
28417   2020-01-01
28418   2019-01-01
28419   2020-01-01
Name: last_pymnt_d, Length: 28386, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [261]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
#pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)


print(df['last_pymnt_d_year'][0])
print(df['last_pymnt_d_month'][0])

2019.0
8.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01